<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Upload a file</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <button type="submit"> Upload</button>
        {% if file %}
            <h1> Uploaded {{ file.filename}}</h1>
        {% else %}

        {% endif %}
    </form>
</body>
</html>