{% extends 'layout.html' %}

{% block title %}Predict - Predictify{% endblock %}

{% block content %}

<div class="container mt-5">
    <!-- File upload -->
    <section class="file-upload p-3 p-lg-5 upload border-bottom mt-5">
        <form action="/predict" class="mt-5" method="post" enctype="multipart/form-data">
            <button class="file-upload-btn" type="button"
                onclick="$('.file-upload-input').click()">Add A File</button>

            <div class="image-upload-wrap">
                <input class="file-upload-input" type='file'
                    onchange="readURL(this);" accept="file/*"
                    name="pred_file" />
                <div class="drag-text">
                    <h3>Drag and drop a file</h3>
                </div>
            </div>
            <button class="file-predict-btn" type="submit">Predict</button>
            <div class="file-upload-content">
                <div class="uploaded uploaded--one">
                    <i class="far fa-file-pdf"></i>
                    <div class="file">
                        <div class="file__name">
                            <p id="file-preview"></p>
                            <i class="fas fa-times mx-4"
                                onclick="removeUpload()"></i>
                        </div>
                        <div class="progress">
                            <div
                                class="progress-bar bg-primary progress-bar-animated"
                                style="width:100%">100%</div>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </section>

    <!-- PREDICTION OUTPUT -->

    <section class="output mt-5 mx-3">
      <h4 class="label mb-4">Response</h4>
      <p> Here are just a few of the records. For a complete view, please download the full prediction report. </p>
      <div class="container mt-5 border mb-5">
        {% if prediction|length == 0 %}
        <h3 class="p-3">Please upload a file first</h3>
        {% elif prediction %}
        <div class="table-responsive p-3">
          <table class="table table-striped table-bordered">
            <thead class="thead-dark">
              <tr>
                {% for key in prediction[0].keys() %}
                  <th>{{ key|capitalize }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for item in prediction %}
                <tr>
                  {% for value in item.values() %}
                    <td>{{ value }}</td>
                  {% endfor %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% else %}
            <h1>No predictions available</h1>
        {% endif %}
    </div>
        {% if download_link %}
        <a href="{{ download_link }}" class="text-center mt-3 mb-3 down-btn">Download Predictions</a>
        {% endif %}
    </section>
</div>

{% endblock %}